:root {
  --color-principal: #0E424C;
  --color-secudario: #eeebe6;
  --color-terciario: #a0826a;
  --color-ceniza1: #333333;
  --color-ceniza2: #2b2929;
  --color-verde: #167f92;
  --btn-hover: #898989;
  --color-footer: #1c1c1c; 
  --color-negro: #;
  --color-h2: #4a5859;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #23714d;
  background-color: #f9f9f9;
}

header {
  background: var(--color-principal);
  color: #fff;
  padding: 20px;
}

.logo {
  position:absolute;
  height: 40px;
}
h2 {
  text-align: center;

}
h1 {
  text-align: end;
  margin: auto;
  
}


main {
  display: flex;
  padding: 0 20px;
}

#productos {
  flex: 0 0 60%;
}

#lista-productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 20px;
  overflow-y: auto;
  max-height: 500px;
  overflow-y: auto;
}

/* Tarjetas */
.card {
  padding: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  color: var(--color-verde);
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 
}

.card img {
  max-width: 100%;
  cursor: pointer;
  height: auto;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nombre {
  font-size: 18px;
  text-decoration: underline;
}

.price { /* Precio */ 
  color: #082c38;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

.price-delete {
  display: flex;
  justify-content: space-between;
}

.btn-delete {
  color: var(--color-verde);
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

/* Formulario!! */
#formulario {
  flex: 0 0 40%;
}

.form-container {
  margin: 20px;
  width: 90%;
  color: var(--color-verde);
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 
}

#producto-form {
  display: flex;
  flex-direction: column;
}

#producto-form input {
  margin-bottom: 10px;
  padding: 15px 0;
  width: 100%;
  border-radius: 10px;
  border: solid 2px var(--color-ceniza2);
  /* Lineas del formulario*/
}

.btn_limpiar,
.btn_agregar {
  background-color: var(--color-verde);
}


.btn_agregar:hover {
  background-color: var(--btn-hover);
}

#limpiar,
#agregar {
  padding: 15px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.btn-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-form button {
  margin: 5px;
  flex: 1;
  max-width: calc(50% - 10px);
  font-size: 18px;
}

.copyright {
  background-color: var(--color-principal);
  height: 90px;
  width: 100%;
  color: #fff;
  text-align: center;
  align-content: center;
}

footer {
  background: var(--color-footer);
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  display: inline;
  margin-right: 10px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-links a {
  color: #fff;
  text-decoration: none;
}



@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  #productos,
  #formulario {
    flex: 1;
  }

  #lista-productos {
    max-height: none;
    overflow-y: visible;
  }
}